*.com
*.class
*.dll
*.exe
*.o
*.so
*.log
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*~
*.swp
.gradle
.gradletasknamecache
.m2
target/
build/
out
.idea
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xml
.classpath
.project
.settings
.metadata
bin/
local.properties